In [ ]:
## Problem Statement -- What is the relationship between MPG and other attributes.
## mpg -- DV ,  It is a number so it is a regression problem

In [90]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [91]:
mydata= pd.read_csv("https://raw.githubusercontent.com/Premalatha-success/HHE_June5/main/auto-mpg.csv")

In [92]:
mydata.head(10)        # all cars is different, so we cannit do one hot encoding

    mpg  cyl   disp   hp    wt   acc  yr  origin                   car name
0  18.0    8  307.0  130  3504  12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165  3693  11.5  70       1          buick skylark 320
2  18.0    8  318.0  150  3436  11.0  70       1         plymouth satellite
3  16.0    8  304.0  150  3433  12.0  70       1              amc rebel sst
4  17.0    8  302.0  140  3449  10.5  70       1                ford torino
5  15.0    8  429.0  198  4341  10.0  70       1           ford galaxie 500
6  14.0    8  454.0  220  4354   9.0  70       1           chevrolet impala
7  14.0    8  440.0  215  4312   8.5  70       1          plymouth fury iii
8  14.0    8  455.0  225  4425  10.0  70       1           pontiac catalina
9  15.0    8  390.0  190  3850   8.5  70       1         amc ambassador dpl

In [93]:
mydata.shape

(398, 9)

In [94]:
mydata.dtypes          # hp has ? in data set so considered as missing value

mpg         float64
cyl           int64
disp        float64
hp           object
wt            int64
acc         float64
yr            int64
origin        int64
car name     object
dtype: object

In [95]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   mpg       398 non-null    float64
 1   cyl       398 non-null    int64
 2   disp      398 non-null    float64
 3   hp        398 non-null    object
 4   wt        398 non-null    int64
 5   acc       398 non-null    float64
 6   yr        398 non-null    int64
 7   origin    398 non-null    int64
 8   car name  398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [96]:
mydata.isnull().sum()

mpg         0
cyl         0
disp        0
hp          0
wt          0
acc         0
yr          0
origin      0
car name    0
dtype: int64

In [97]:
mydata.drop("car name",axis=1,inplace=True)  # dropping attribute car name

In [98]:
mydata.isnull().sum()

mpg       0
cyl       0
disp      0
hp        0
wt        0
acc       0
yr        0
origin    0
dtype: int64

In [99]:
mydata["hp"]=mydata["hp"].replace(to_replace ='?', value=np.nan)  # replacing "?"  with NAN
mydata["hp"]=mydata["hp"].astype(float)

In [100]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     398 non-null    float64
 1   cyl     398 non-null    int64
 2   disp    398 non-null    float64
 3   hp      392 non-null    float64
 4   wt      398 non-null    int64
 5   acc     398 non-null    float64
 6   yr      398 non-null    int64
 7   origin  398 non-null    int64
dtypes: float64(4), int64(4)
memory usage: 25.0 KB

In [101]:
median1=mydata["hp"].median()            # All 6 values is are replaced from "none" by  median

mydata["hp"].replace(np.nan,median1,inplace=True)

In [102]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     398 non-null    float64
 1   cyl     398 non-null    int64
 2   disp    398 non-null    float64
 3   hp      398 non-null    float64
 4   wt      398 non-null    int64
 5   acc     398 non-null    float64
 6   yr      398 non-null    int64
 7   origin  398 non-null    int64
dtypes: float64(4), int64(4)
memory usage: 25.0 KB

In [103]:
# Also replacing the catagorical var with actual values
mydata["origin"]= mydata["origin"].replace({1:'america', 2:'europe', 3:'asia'})
mydata.sample(10)

      mpg  cyl   disp     hp    wt   acc  yr   origin
362  24.2    6  146.0  120.0  2930  13.8  81     asia
30   28.0    4  140.0   90.0  2264  15.5  71  america
278  31.5    4   89.0   71.0  1990  14.9  78   europe
386  25.0    6  181.0  110.0  2945  16.4  82  america
289  16.9    8  350.0  155.0  4360  14.9  79  america
363  22.4    6  231.0  110.0  3415  15.8  81  america
291  19.2    8  267.0  125.0  3605  15.0  79  america
266  30.0    4   98.0   68.0  2155  16.5  78  america
338  27.2    4  135.0   84.0  2490  15.7  81  america
317  34.3    4   97.0   78.0  2188  15.8  80   europe

In [104]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     398 non-null    float64
 1   cyl     398 non-null    int64
 2   disp    398 non-null    float64
 3   hp      398 non-null    float64
 4   wt      398 non-null    int64
 5   acc     398 non-null    float64
 6   yr      398 non-null    int64
 7   origin  398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

# One Hot encoding

In [105]:
mydata= pd.get_dummies(mydata, columns=["origin"])

In [106]:
mydata.info()    # no object value here

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mpg             398 non-null    float64
 1   cyl             398 non-null    int64
 2   disp            398 non-null    float64
 3   hp              398 non-null    float64
 4   wt              398 non-null    int64
 5   acc             398 non-null    float64
 6   yr              398 non-null    int64
 7   origin_america  398 non-null    uint8
 8   origin_asia     398 non-null    uint8
 9   origin_europe   398 non-null    uint8
dtypes: float64(4), int64(3), uint8(3)
memory usage: 23.1 KB

In [107]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split    # split the data into train and test data

In [108]:
X= mydata.drop(['mpg'], axis=1)     # Taking y axis---as mpg and x axis to all attributes other than mpg
y= mydata[["mpg"]]

In [109]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.30,random_state=1)   # train data is 70 % and test data is 30%

In [110]:
reg_model=LinearRegression()
reg_model.fit(X_train,y_train)

LinearRegression()

## the score(R2) For in-sample and out sample

In [111]:
reg_model.score(X_train,y_train)

0.8141025501610559

In [112]:
reg_model.score(X_test,y_test)

0.8433135132808829

In [113]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model

In [114]:
poly = PolynomialFeatures(degree=2, interaction_only =True)   # Trying to fit with curve to see output
X_train2= poly.fit_transform(X_train)
X_test2= poly.fit_transform(X_test)
poly_clf=linear_model.LinearRegression()
poly_clf.fit(X_train2,y_train)
print(poly_clf.score(X_train2,y_train))

0.8995492105437926

In [115]:
print(poly_clf.score(X_test2,y_test))

0.861349075272287

In [116]:
poly = PolynomialFeatures(degree=3, interaction_only =True)
X_train2= poly.fit_transform(X_train)
X_test2= poly.fit_transform(X_test)
poly_clf=linear_model.LinearRegression()
poly_clf.fit(X_train2,y_train)
print(poly_clf.score(X_train2,y_train))

0.9330027807855263

In [117]:
print(poly_clf.score(X_test2,y_test))

0.5282445987613459

In [118]:
poly = PolynomialFeatures(degree=4, interaction_only =True)
X_train2= poly.fit_transform(X_train)
X_test2= poly.fit_transform(X_test)
poly_clf=linear_model.LinearRegression()
poly_clf.fit(X_train2,y_train)
print(poly_clf.score(X_train2,y_train))

0.9611873527121698

In [119]:
print(poly_clf.score(X_test2,y_test))

-57.497990004262476

In [120]:
# degree4 is worst so we can get it with degree 2 because both train and test in deegree(2) is good

# Logistic Regression

In [121]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

# Problem Statement : Wether the person is diabetic or not

In [122]:
mydata=pd.read_csv("https://raw.githubusercontent.com/Premalatha-success/HHE_June5/main/pima-indians-diabetes.csv")

In [123]:
mydata.head(10)     # CLASS -- DV HERE, PRESSURE AND SKIN CANT BE ZERO, SO MISSING VALUES IN FORM OF ZEROES

   Preg  Plas  Pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1
5     5   116    74     0     0  25.6  0.201   30      0
6     3    78    50    32    88  31.0  0.248   26      1
7    10   115     0     0     0  35.3  0.134   29      0
8     2   197    70    45   543  30.5  0.158   53      1
9     8   125    96     0     0   0.0  0.232   54      1

In [124]:
mydata.shape

(768, 9)

In [125]:
mydata.dtypes

Preg       int64
Plas       int64
Pres       int64
skin       int64
test       int64
mass     float64
pedi     float64
age        int64
class      int64
dtype: object

In [126]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Preg    768 non-null    int64
 1   Plas    768 non-null    int64
 2   Pres    768 non-null    int64
 3   skin    768 non-null    int64
 4   test    768 non-null    int64
 5   mass    768 non-null    float64
 6   pedi    768 non-null    float64
 7   age     768 non-null    int64
 8   class   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [127]:
mydata.isnull().sum()

Preg     0
Plas     0
Pres     0
skin     0
test     0
mass     0
pedi     0
age      0
class    0
dtype: int64

In [128]:
mydata["Plas"]=mydata["Plas"].replace(to_replace =0, value=np.nan)
mydata["Plas"]=mydata["Plas"].astype(float)
mydata["Pres"]=mydata["Pres"].replace(to_replace =0, value=np.nan)
mydata["Pres"]=mydata["Pres"].astype(float)
mydata["skin"]=mydata["skin"].replace(to_replace =0, value=np.nan)
mydata["skin"]=mydata["skin"].astype(float)
mydata["mass"]=mydata["mass"].replace(to_replace =0, value=np.nan)
mydata["mass"]=mydata["mass"].astype(float)
mydata["age"]=mydata["age"].replace(to_replace =0, value=np.nan)
mydata["age"]=mydata["age"].astype(float)

In [129]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Preg    768 non-null    int64
 1   Plas    763 non-null    float64
 2   Pres    733 non-null    float64
 3   skin    541 non-null    float64
 4   test    768 non-null    int64
 5   mass    757 non-null    float64
 6   pedi    768 non-null    float64
 7   age     768 non-null    float64
 8   class   768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

In [130]:
median1=mydata["Plas"].median()
mydata["Plas"].replace(np.nan,median1,inplace=True)

median2=mydata["Pres"].median()
mydata["Pres"].replace(np.nan,median2,inplace=True)

median3=mydata["skin"].median()
mydata["skin"].replace(np.nan,median3,inplace=True)

median4=mydata["mass"].median()
mydata["mass"].replace(np.nan,median4,inplace=True)

median5=mydata["age"].median()
mydata["age"].replace(np.nan,median5,inplace=True)

In [131]:
mydata.head(25)

    Preg   Plas  Pres  skin  test  mass   pedi   age  class
0      6  148.0  72.0  35.0     0  33.6  0.627  50.0      1
1      1   85.0  66.0  29.0     0  26.6  0.351  31.0      0
2      8  183.0  64.0  29.0     0  23.3  0.672  32.0      1
3      1   89.0  66.0  23.0    94  28.1  0.167  21.0      0
4      0  137.0  40.0  35.0   168  43.1  2.288  33.0      1
5      5  116.0  74.0  29.0     0  25.6  0.201  30.0      0
6      3   78.0  50.0  32.0    88  31.0  0.248  26.0      1
7     10  115.0  72.0  29.0     0  35.3  0.134  29.0      0
8      2  197.0  70.0  45.0   543  30.5  0.158  53.0      1
9      8  125.0  96.0  29.0     0  32.3  0.232  54.0      1
10     4  110.0  92.0  29.0     0  37.6  0.191  30.0      0
11    10  168.0  74.0  29.0     0  38.0  0.537  34.0      1
12    10  139.0  80.0  29.0     0  27.1  1.441  57.0      0
13     1  189.0  60.0  23.0   846  30.1  0.398  59.0      1
14     5  166.0  72.0  19.0   175  25.8  0.587  51.0      1
15     7  100.0  72.0  29.0     0  30.0  0.484  32.0      1
16     0  118.0  84.0  47.0   230  45.8  0.551  31.0      1
17     7  107.0  74.0  29.0     0  29.6  0.254  31.0      1
18     1  103.0  30.0  38.0    83  43.3  0.183  33.0      0
19     1  115.0  70.0  30.0    96  34.6  0.529  32.0      1
20     3  126.0  88.0  41.0   235  39.3  0.704  27.0      0
21     8   99.0  84.0  29.0     0  35.4  0.388  50.0      0
22     7  196.0  90.0  29.0     0  39.8  0.451  41.0      1
23     9  119.0  80.0  35.0     0  29.0  0.263  29.0      1
24    11  143.0  94.0  33.0   146  36.6  0.254  51.0      1

## NO NEED OF ONE HOT ENCODING , EVRYTHING IS A NUMBER HERE

In [132]:
X= mydata.drop(['class'], axis=1)
y=mydata[["class"]]

In [133]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.30,random_state=1)

In [134]:
reg_model=LogisticRegression()
reg_model.fit(X_train,y_train)

LogisticRegression()

In [135]:
reg_model.score(X_train,y_train)

0.7821229050279329

In [136]:
reg_model.score(X_test,y_test)

0.7835497835497836

In [137]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model

In [138]:
poly = PolynomialFeatures(degree=2, interaction_only =True)
X_train2= poly.fit_transform(X_train)
X_test2= poly.fit_transform(X_test)
poly_clf=linear_model.LinearRegression()
poly_clf.fit(X_train2,y_train)
print(poly_clf.score(X_train2,y_train))

-0.3353619680681752

In [139]:
print(poly_clf.score(X_test2,y_test))

-0.4606686227582608

## Decision tree model

In [140]:
from sklearn.tree import DecisionTreeClassifier
model_1=DecisionTreeClassifier()
model_1.fit(X_train,y_train)
model_1.score(X_train,y_train)

1.0

In [141]:
model_1.score(X_test,y_test)    ## Overfitting

0.7186147186147186

In [142]:
from sklearn.tree import DecisionTreeClassifier
model_1=DecisionTreeClassifier(max_depth=3)
model_1.fit(X_train,y_train)
model_1.score(X_train,y_train)

0.7635009310986964

In [143]:
model_1.score(X_test,y_test)    ## is not overfitting

0.7532467532467533

In [144]:
from sklearn.tree import DecisionTreeRegressor
model_1= DecisionTreeRegressor(max_depth=3)
model_1.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=3)

In [145]:
print(model_1.score(X_train,y_train))
print(model_1.score(X_test,y_test))

0.3180441065984019
0.3327111299301132

In [146]:
from sklearn.ensemble import BaggingRegressor
model_1= BaggingRegressor(n_estimators=100, base_estimator=model_1,random_state=1,)
model_1= model_1.fit(X_train,y_train)
#my_pridict= bgc1.predict(X_test)
print(model_1.score(X_train,y_train))
print(model_1.score(X_test,y_test))

0.37252420593093416
0.3776570048696938